# join():
- The join() method in Python is a string method used to concatenate a sequence of strings with a specified separator.
```
- Syntax: 
separator.join(iterable)
where, 
separator = A string that will be inserted between each element of the iterable.
iterable = A sequence (like a list, tuple, or string) containing strings.
```
- All elements in the iterable must be strings; otherwise, t will raise a TypeError.

In [4]:
words = ['Big', 'Data', 'Engineering']

res = ' '.join(words)
print(res)

Big Data Engineering

In [5]:
skills = ['SQL', 'Python', 'Spark', 'AWS']

res = ', '.join(skills)
print(res)

SQL, Python, Spark, AWS

In [4]:
person = {
    "name": "Piyush",
    "age": 30,
    "job_title": "Data Engineer",
    "location": "Pune",
    "height": 177
}

out = " ".join(person)
out

'name age job_title location height'

Find out all the employee name who are available in the above (state_dpt_info) condition.
You dont know the exact number of filter condition which will come  in the above list.
It can chnage in each run.

In [ ]:
state_dpt_info = [{
    "state": "Bihar", "department": "it"},
    {"state": "Delhi", "department": "marketing"}]

query = """
        SELECT * FROM (
        SELECT e.employee_name, e.state, e.zip, e.salary, d.department
        FROM employee_tbl e
        INNER JOIN department d
        ON e.emp_id=d.emp_id
        ) as a
        WHERE salary>100000
        """

In [18]:
filter_condition_list = []

for condition in state_dpt_info:
    for key, value in condition.items():
        filter_condition_list.append(f"{key} = '{value}'")
        
print(filter_condition_list)     

filter_condition = " OR ".join(filter_condition_list)

res = query + " AND " + filter_condition
print(res)

["state = 'Bihar'", "department = 'it'", "state = 'Delhi'", "department = 'marketing'"]

        SELECT * FROM (
        SELECT e.employee_name, e.state, e.zip, e.salary, d.department
        FROM employee_tbl e
        INNER JOIN department d
        ON e.emp_id=d.emp_id
        ) as a
        WHERE salary>100000
         AND state = 'Bihar' OR department = 'it' OR state = 'Delhi' OR department = 'marketing'

In [8]:
res = query + " AND " + filter_condition
print(res)

        SELECT * FROM (
        SELECT e.employee_name, e.state, e.zip, e.salary, d.department
        FROM employee_tbl e
        INNER JOIN department d
        ON e.emp_id=d.emp_id
        ) as a
        WHERE salary>100000
         AND d.department = 'Bihar' OR d.department = 'it' OR d.department = 'Delhi' OR d.department = 'marketing'

In [ ]:

filter_condition_list = []
params = []

alias_map = {
    "department": "d.department",
    "state": "e.state",
}

for condition in state_dpt_info:  # e.g. [{"state": "Bihar"}, {"department": "it"}]
    for key, value in condition.items():
        column = alias_map.get(key, f"e.{key}")  # default to e.<key> if not mapped
        filter_condition_list.append(f"{column} = %s")
        params.append(value)

filter_condition = " OR ".join(filter_condition_list)

query = """
SELECT *
FROM (
    SELECT e.employee_name, e.state, e.zip, e.salary, d.department
    FROM employee_tbl e
    INNER JOIN department d
        ON e.emp_id = d.emp_id
) AS a
WHERE salary > 100000
  AND ({})
""".format(filter_condition)

print(query)
print(params)  # pass this to your DB driver

SELECT *
FROM (
    SELECT e.employee_name, e.state, e.zip, e.salary, d.department
    FROM employee_tbl e
    INNER JOIN department d
        ON e.emp_id = d.emp_id
) AS a
WHERE salary > 100000
  AND (e.state = %s OR d.department = %s OR e.state = %s OR d.department = %s)

['Bihar', 'it', 'Delhi', 'marketing']