In [1]:
input1 = [8, 3, 0, 87, 23, 17]

input2 = [5, 5, 5, 5]

input3 = [19]

input4 = [12, 3, 111, 789, 100025, 898, 19933]

print(max(input4))

100025

In [2]:
ch = '0'
if ord("A") <= ord(ch) <= ord("Z"):
    print("Uppercase")
elif ord("a") <= ord(ch) <= ord("z"):
    print("Lowercase")
elif ord('0') <= ord(ch) <= ord('9'):
    print("Digit")
else:
    print("Special Character")

Digit

In [3]:
nums = [8, 3, 0, 87, 23, 17]

if any(nums) > 500:
    print(True)
else:
    print(False)

False

In [6]:
string =  "GeetsForGeeks"
pattern = "For"

# Method 1:
for i in range(len(string)):
    res = string[i:i+len(pattern)]
    # print(res)
    if res == pattern:
        print(i)
        break
    else:
        continue

5

# Convert List to DataFrame:

```
spark.createDataFrame(data, schema=None)
```

Parameters:
- **data:**	The data to convert. It can be a list of tuples, list of lists, list of dicts, Pandas DataFrame, or RDD.
- **schema** ***(Optional)***: Can be a list of column names, or a StructType schema. If not provided, Spark tries to infer.

In [5]:
nums = [1, 3, 5, 6, 23, 90]

import pandas as pd

df = pd.DataFrame(nums, columns=['col_nm'])
print(df)

   col_nm
0       1
1       3
2       5
3       6
4      23
5      90

In [14]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ListToDataFrame").getOrCreate()

tuple_data = [(i,) for i in nums]
print(tuple_data)

[(1,), (3,), (5,), (6,), (23,), (90,)]

In [16]:
df = spark.createDataFrame(tuple_data, ["Value"])
df.show()

+-----+
|Value|
+-----+
|    1|
|    3|
|    5|
|    6|
|   23|
|   90|
+-----+

In [18]:
df2 = spark.createDataFrame(map(lambda x: (x,), nums), ["Value"])
df2.show()

+-----+
|Value|
+-----+
|    1|
|    3|
|    5|
|    6|
|   23|
|   90|
+-----+